:root {
  --color1: #6b225a;
  --color4: #fe7062;
  --color3: #ffbbba;
  --color5: #4042e2;
  --color2: #6272ec;
  --color6: #91b3fa;
  --color6: #ffffff;
  --border-radius: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0 2em;
}
.nav {
  display: flex;
  padding: 1em 0;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px grey solid;
  justify-content: center;
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  margin-bottom: 2em;
}
.input {
  width: 100%;
  height: 2em;
  border: none;
  outline: none;
  margin-left: 1em;
}
button {
  margin-left: 1em;
  border: none;
  background: none;
  color: var(--color5);
  font-size: 1.5em;
}
.display{
  display: none;
}
.view {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-content: center;
}
.no-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  background: none;
}
.helper-text {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: var(--color2);
}
.girlpic {
  width: 100%;
  height: auto; 
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
.text {
  font-size: 1em;
}
.author {
  width: 100%;
  text-align: right;
  padding: 0 1em;
  margin: 0.5em 0;
}
.word-header {
  border: 1px solid grey;
  padding: 1em 2em;
  margin-bottom: 1em;
  border-radius: var(--border-radius);
}
.word-head, .second-header-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.word-head > h2 {
  margin: 0.5em 0;
}
.second-header-line > button{
  font-size: 1.6em;
  margin-right: 0.3em;
}
.phonetic {
  font-weight: light;
}
.partofspeech {
  padding: 2em;
  margin: 2em 0;
  border: 1px solid grey;
  line-height: 1.5em;
  border-radius: var(--border-radius);
}
.part-header {
  text-transform: capitalize;
}
.definition {
  margin: 0.5em;
}
.tab{
  margin-top: 2em;
}
.syn_tab,
.ant_tab {
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow-x: scroll;
}
.syn_tab > li,
.ant_tab > li {
  margin:0.5em;
  width: auto;
}
.floating_button {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 30px;
  right: 1.1em;
  cursor: pointer;
  font-size: 2em;
  background: white;
}
.iconbutton {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-weight: light;
}
.button {
  width: 50px;
  height: 50px;
  display:flex;
  justify-content: center;
}
.icon{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  color:black;
  }